* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

button {
  cursor: pointer; }

.hide {
  display: none; }

aside {
  width: 215px;
  float: right; }

.container {
  width: 960px;
  margin: 0 auto; }

.content {
  margin-right: 220px; }
  .content .filters {
    margin-top: 80px; }

.number {
  height: 25px;
  width: 45px;
  margin: 0 10px;
  display: inline-block;
  position: relative;
  border: 1px solid #c6c6c6; }
  .number div {
    float: right;
    background: #ccc;
    height: 100%;
    width: 20px;
    color: #fff; }
    .number div button {
      width: 100%;
      height: 50%;
      display: block;
      border: none;
      background: none;
      background: green; }
  .number input {
    width: 25px;
    height: 100%;
    border: none;
    text-align: center; }
  .number .up {
    background-color: #06ee00;
    background-image: linear-gradient(#06ee00, #059b01);
    position: relative; }
    .number .up:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background: url("../img/up.png") no-repeat bottom center;
      bottom: 15%;
      left: 0; }
  .number .down {
    background-color: #06ee00;
    background-image: linear-gradient(#059b01, #06ee00);
    position: relative; }
    .number .down:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: url("../img/down.png") no-repeat top center;
      position: absolute;
      top: 15%;
      left: 0; }

.cart {
  font-size: 10pt;
  background: #feffa7;
  box-shadow: 1px 4px 8px #c6c6c6;
  margin-top: 20px; }
  .cart .cartHeadline {
    padding: 10px;
    height: 80px;
    line-height: 80px; }
    .cart .cartHeadline .amount {
      height: 20px;
      overflow: hidden; }
    .cart .cartHeadline .count {
      width: 30px;
      height: 30px;
      line-height: 22px;
      vertical-align: middle;
      text-align: center;
      background: #05a101;
      color: #fff;
      display: block;
      border-radius: 30px;
      position: relative; }
  .cart .itemsInCart {
    float: right;
    position: relative;
    margin: 5px 20px 0 0; }
    .cart .itemsInCart:before {
      content: "";
      position: absolute;
      width: 64px;
      height: 64px;
      background-image: url("../img/1428683270_shopping-cart-64.png");
      top: 7px;
      left: -20px; }
  .cart .cartItems {
    list-style: none;
    border-top: 2px solid #e6d43e; }
    .cart .cartItems .title {
      font-size: 9pt;
      display: inline-block;
      width: 70px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  .cart .item {
    padding: 5px 10px;
    border-bottom: 2px solid #e6d43e; }
  .cart .total {
    text-align: right;
    padding: 10px;
    display: block; }

.categories {
  list-style: none; }
  .categories li {
    float: left;
    list-style: none;
    margin-right: 10px; }
  .categories a {
    color: #05a101; }
  .categories .active {
    text-decoration: underline; }

.filter {
  overflow: hidden;
  margin-bottom: 20px;
  font-size: 10pt; }
  .filter .label {
    float: left;
    padding-right: 5px; }

figure.item {
  float: left;
  display: block;
  width: 210px;
  height: 420px;
  margin: 15px;
  position: relative; }
  figure.item h3, figure.item h3 a {
    color: #05a101;
    font-size: 15px; }
  figure.item p {
    padding-top: 10px;
    font-size: 10pt; }
  figure.item .itemContainer {
    width: 210px;
    height: 420px;
    border: 1px solid #ccc;
    padding-bottom: 10px;
    box-shadow: 1px 4px 8px #c6c6c6;
    background: #fff; }
  figure.item .description {
    padding: 0 15px;
    min-height: 75px;
    height: 75px;
    overflow: hidden;
    margin: 15px 0;
    position: relative; }
    figure.item .description:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 30px;
      bottom: 0;
      background: linear-gradient(rgba(255, 255, 255, 0), white); }
  figure.item:hover .itemContainer {
    height: auto;
    position: absolute;
    z-index: 1; }
  figure.item:hover .description {
    height: auto; }
  figure.item:hover .description:after {
    background: none; }

.mainPhoto {
  width: 100%;
  height: 210px;
  overflow: hidden;
  text-align: center;
  position: relative; }
  .mainPhoto img {
    height: 210px;
    margin: 0 auto; }

.buyBlock {
  display: inline-block;
  margin-left: 10px; }
  .buyBlock .number {
    float: left;
    margin-top: 5px; }

.addToCart {
  display: inline-block;
  height: 35px; }
  .addToCart .price {
    display: block;
    height: 100%;
    line-height: 35px;
    vertical-align: middle;
    padding: 0 10px;
    color: #fff;
    font-weight: 400;
    border-radius: 8px 0 0 8px;
    background-image: linear-gradient(#06ee00, #059b01);
    float: left; }
  .addToCart .buy {
    width: 35px;
    height: 100%;
    background: none;
    border: none;
    background-image: linear-gradient(#06ee00, #059b01);
    vertical-align: middle;
    float: left;
    border-radius: 0 8px 8px 0;
    border-left: 2px solid #fff;
    position: relative; }
    .addToCart .buy:before {
      content: "";
      display: block;
      background: url("../img/1428667742_shopping_cart-24.png") center center no-repeat;
      width: 100%;
      height: 100%; }
    .addToCart .buy:hover {
      background: #cedde3; }

.gallery {
  list-style: none;
  overflow: hidden;
  text-align: center; }
  .gallery li {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #c6c6c6;
    width: 50px;
    height: 50px;
    margin: 3px;
    overflow: hidden; }
    .gallery li img {
      height: 50px; }

/*# sourceMappingURL=style.css.map */
